{% extends 'base.html' %}
{% block head%}
{{ super() }}
<style>
    html,
    body {
        background-image: url(https://image.freepik.com/free-photo/bowls-with-animal-feed_23-2148181713.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }
</style>
{% endblock %}

{% block title %} About Us{% endblock %}

{% block content %}

<h1>About Us</h1>
<div class="container">
    <div class="col-md-6 pt-3">
        <p>
            Welcome to Pawwfect and thanks for stopping by!
            <br> Pawwfect is my second capstone project for the Software
            Engineering Program/ Bootcamp at SpringBoard.
            <br> This web application mimics a Pet Adoption Agency by using Python,
            Flask-SQLAlchemy, Flask, Bycrypt, Jinja, WTForm etc. </p>
    </div>
</div>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/base.css">
    <title>About</title>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><span i class="fas fa-paw" aria-hidden="true"></span> Pawwfect
        Match</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/pawwnews">PawwNews</a></li>
        <li><a href="/pawwrepo">PawwRepo</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><i class="fas fa-user-plus"></i> Sign up</a></li>
        <li><a href="/login"><i class="fas fa-user"></i> Login</a></li>
    </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h1>About Us</h1>

            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html> -->